body{
    background-color: black;
}

#outer_box{
    height: 400px;
    width: 600px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 380px;
}

#inner_circle{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 200px;
    border-radius: 50%;
}

#label{
    color: white;
    position: relative;
    top: 100px;
    left: 570px;
}